@using CursoUdemy.Models;
@model EmpleadoCLS
@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.listaSexo;
    List<SelectListItem> listaTipoContrato = (List<SelectListItem>)ViewBag.listaTipoContrato;
    List<SelectListItem> listaTipoUsuario = (List<SelectListItem>)ViewBag.listaTipoUsuario;
}

<h2>Agregar</h2>

@using (Html.BeginForm("Agregar", "Empleado", FormMethod.Post))
{




    
}

